APP_PORT=9090
SESSION_COOKIE_NAME=mood_tracker_session

DB_MODE=host
DB_HOST=127.0.0.1
DB_PORT=3306
DB_USER=root
DB_PASSWORD=123456
DB_NAME=mood_tracker_app
DB_CONTAINER_ID=d59ce521836d0a9edfc4af5e5c07f8b4ec63e5d9f55de77cb98ab8341d67be4b

ADMIN_ACCOUNT=admin
ADMIN_PASSWORD=Admin123!@#
ADMIN_NICKNAME=系统管理员
SESSION_DAYS=7

